[Desktop Entry]
Version=1.0
Type=Application
Name=QLogExplorer
GenericName=Log Explorer
Comment=Advanced log files viewer
Exec=qlogexplorer %F
Icon=qlogexplorer
Keywords=log;viewer;monitor;
Terminal=false
StartupNotify=true
Categories=Utility;
MimeType=text/plain;
Actions=open-file

[Desktop Action open-file]
Name=QLogExplorer
Exec=qlogexplorer %F
