IDI_ICON1	ICON	DISCARDABLE	"qlogexplorer.ico"

#include <windows.h>
#define STR_HELPER(x) #x
#define STR(x) STR_HELPER(x)

#define CURRENT_VERSION     APP_VERSION_MAJOR,APP_VERSION_MINOR,APP_VERSION_PATCH,0
#define CURRENT_VERSION_STR STR(APP_VERSION_MAJOR) "." STR(APP_VERSION_MINOR) "." STR(APP_VERSION_PATCH)

VS_VERSION_INFO VERSIONINFO
FILEVERSION     CURRENT_VERSION
PRODUCTVERSION  CURRENT_VERSION
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",        "QLogExplorer Project"
            VALUE "FileDescription",    "QLogExplorer - Advanced Log Viewer"
            VALUE "FileVersion",        CURRENT_VERSION_STR ".0\0"
            VALUE "InternalName",       "QLogExplorer"
            VALUE "LegalCopyright",     "(C) 2022 QLogExplorer Project"
            VALUE "OriginalFilename",   "qlogexplorer.exe"
            VALUE "ProductName",        "QLogExplorer"
            VALUE "ProductVersion",     CURRENT_VERSION_STR "\0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
